.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  padding-bottom: 70px;
  background-image: radial-gradient(#e0e0e0 1px, transparent 1px);
  background-size: 20px 20px;
}

.loading-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 30px;
}

.truck-container {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.truck-container > div {
  width: 100% !important;
  height: 100% !important;
}

.loading-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 30px;
  padding-right: 50px;
  width: 100%;
  position: relative;
}

.credit-image {
  width: 120px;
  height: auto;
  object-fit: contain;
}

.credit-text {
  position: absolute;
  right: 50px;
  font-size: 0.7rem;
  color: #666;
  margin: 0;
  font-weight: 500;
} 